<!DOCTYPE html>

<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>

<body class="bodyimg">
    
    <div class = "login">
        <h1>Change Password</h1>
       <form action='/changepass' method="POST">
           <label>Username: </label>
           <input type="text" name="username" required><br><br>
           <label>Password: </label>
           <input type="password" name="password" required><br><br>
           <label>Confirm Password: </label>
           <input type="password" name="confpassword" required><br><br>
           <button>Confirm</button><br><br>
       </form>
    </div>


</body>